<h2>React Component in Rails Template</h2>
<ul>
  <li>This is a standard Rails template</li>
  <li>
    We are using the react_component Rails view helper provided by <a href="https://github.com/shakacode/react_on_rails">react_on_rails</a>
    to render a Highstock component from <a href="https://github.com/kirjs/react-highcharts">react_highcharts</a>.
  </li>
</ul>
<%= react_component("HighchartsWorldApp", props: @highcharts_props) %>
