<h4>Highlights</h4>

<ul>
  <li><span>Built v2.0 of our design system, revamped design workflows, and led engineering effort to launch Betterment's rebrand across all web properties. Presented <a href="<%= presentations_betterment_rebranding_bonanza_path %>"> how we did it all in 8 weeks</a>.</span></li>
  <li><span>Built Two-Factor Authentication for Betterment Accounts. Blogged about <a href="https://www.betterment.com/resources/inside-betterment/engineering/built-two-factor-authentication-betterment-accounts/" />how we did it</a>.</span></li>
  <li><span>Helped lead company migration onto Asana as part of internal communication architecture revamp.</span></li>
</ul>
