<h4>Highlights</h4>

<ul>
  <li><span>Rebuilt <a href='http://jimmiejohnson.com'>JimmieJohnson.com</a> front-end from the ground up, a responsively designed overhaul provided by <a href="https://www.codeandtheory.com/">Code and Theory</a>.</span></li>
  <li><span>Built dev ops processes for dev ops consultancy <a href='http://symondsandson.com'>Symonds &amp; Son</a>. Automated infrastructure updates propagated to all of their customers on an ongoing basis.</span></li>
  <li><span>Helped <a href='https://workbetter.us'>Work Better</a> revamp internal communication architecture and project management.</span></li>
</ul>
