<h4>Highlights</h4>

<ul>
  <li><span><a href='http://jimmiejohnson.com'>JimmieJohnson.com</a> received a complete design overhaul from Code and Theory. I implemented the new design and assisted with infrastructure upgrades.</span></li>
  <li><span><a href='http://symondsandson.com'>Symonds &amp; Son</a> was building out new dev ops processes for a burgeoning customer pipeline. We concocted a technical architecture that automated infrastructure updates for all of their customers on an ongoing basis.</span></li>
  <li><span><a href='https://workbetter.us'>Work Better</a> wanted to reinvent internal communication and project management. I helped them adopt a more open, collaborative culture atop tools like Slack and Asana.</span></li>
</ul>

<blockquote>
  I recommend naming a sole proprietorship while reminiscing about Fresh Prince episodes with good friends.
</blockquote>
