<p>
  After collaborating on a website for my band, a buddy and I began to take on web
  development projects and formed Fantastic Damage in 2003. At a time when most websites considered Flash intros
  a good idea, we developed aesthetically-pleasing web applications as well as a CMS that enabled our customers
  to control the content on their own websites. This was a novel idea back then.
</p>

<p>
  We also developed a proprietary office system for mortgage companies that provided real-time reporting and
  data analysis.
</p>
