<p>
  At a time when people considered Flash intros a good idea, we developed dynamic, accessible, aesthetically-pleasing
  web applications. Our proprietary CMS that enabled customers to control their own content was a novel idea back then.
</p>
