<p>
  A buddy and I formed Fantastic Damage after collaborating on several website projects to great effect. At a time
  when people considered Flash intros a good idea, we developed dynamic, accessible, aesthetically-pleasing
  web applications along with a CMS that enabled our customers to control their own content. This was a novel idea back then.
</p>
