<p>
  On a consultative basis, I helped <a href='http://www.inrhythm.com/'>InRhythm</a> establish processes for their project pipeline. We built out an
  internal project framework, set up continuous integration and build monitoring, and brought a collaborative
  sprint process online. I also provided technical diligence services for some of their clients.
</p>
