<p>
  This was my first job out of school. I worked on a small team in the finance sector. We developed large-scale
  financial data processing workflows for the US, UK, and Ireland divisions. This was my first experience with
  things that ran "overnight".
</p>

<blockquote>
  If you fully expand the acronyms in MBNA America Bank, N.A. you end up with
  Maryland Bank National Association America Bank National Association.
</blockquote>
