<p>
  This was my first job out of school. I worked on a small software team that developed large-scale
  financial data processing workflows across the US, UK, and Ireland divisions of the company. This was my first experience with
  things that ran overnight.
</p>

<blockquote>
  If you fully expand the acronyms in MBNA America Bank, N.A. you end up with
  Maryland Bank National Association America Bank National Association.
</blockquote>
