<p>
  This was my first job out of school. Our team developed large-scale
  financial data processing workflows across the US, UK, and Ireland divisions of the company. This was my first experience with
  things that ran overnight.
</p>

<blockquote>
  Fully expanded, MBNA America Bank, N.A. stands for
  Maryland Bank National Association America Bank National Association.
</blockquote>
