<p>
  Developed large-scale financial data processing workflows across the US, UK, and Ireland divisions of the company.
</p>

<blockquote>
  Fully expanded, MBNA America Bank, N.A. stands for
  Maryland Bank National Association America Bank National Association.
</blockquote>
