<p>
  <a href='http://www.microdesk.com/'>Microdesk</a> has a software team that specializes in geospatial projects and Autodesk
  customization. I worked as a software engineer and also began to manage projects here.
</p>

<h4>Highlights</h4>

<ul>
  <li><span>Built topological search and schematic navigation app for the Patriot Missile System for <a href="http://www.raytheon.com/">Raytheon</a>.</span></li>
  <li><span>Generated CNC instruction sets for glass curtain walls for <a href="http://www.ibglass.com/">Ipswich Bay Glass</a>.</span></li>
  <li><span>Visualized real-time positioning of <a href="https://www.velco.com/">Vermont Electric Power Company</a> helicopters and road crews.</span></li>
</ul>
