<p>
  <a href='http://www.microdesk.com/'>Microdesk</a> has a software team that specializes in geospatial projects and Autodesk
  customization. I worked as a software engineer and also began to manage projects here.
</p>

<h4>Highlights</h4>

<ul>
  <li><span>Built an interactive user manual for the Patriot Missile System for <a href="http://www.raytheon.com/">Raytheon</a>. We processed tens of thousands of AutoCAD electrical schematic documents, performed topological analysis of the circuitry, and built a Windows app to search and navigate electrical signal paths.</span></li>
  <li><span>Built an Autodesk Inventor plugin for <a href="http://www.ibglass.com/">Ipswich Bay Glass</a> to design glass curtain walls and generate CNC instruction sets. I gained a newfound respect for unit tests while watching machines rapidly cut 12 foot-long Lego-style pieces to size.</span></li>
  <li><span>Built a web app for the <a href="https://www.velco.com/">Vermont Electric Power Company</a> to provide real-time visualizations of dispatched helicopters and road crews.</span></li>
</ul>
