<p>
  I consulted for a few months on the content ingestion and publishing systems for Project Alesia, a digital news
  platform <a href='http://newscorp.com/'>News Corp</a> was developing at the time. News Corp pulled the plug on the entire project in October 2010.
</p>
