<p>
  I led a team of 20 engineers and designers that built a publishing system to automatically design ePub editions
  of the New York Times, Washington Post, etc. on the fly. Our content evoked the look and feel of
  each publication when displayed on the 11.5 inch Skiff e-reader.
</p>

<p>
  The Skiff e-reader garnered buzz at CES in January 2010 but sadly never saw the light of day.
  When Skiff was acquired by <a href='http://newscorp.com/'>News Corp</a> later that year, I helped with
  Project Alesia, a similar digital news platform they were developing at the time.
</p>
