<p>
  <a href='http://plyfe.com/'>Plyfe</a> was a consumer-facing social engagement platform that enabled
  brands to embed interactive experiences – personality quizzes, video polls, etc. – in their web properties. The
  self-service platform provided real-time user activity data analysis and reporting.
</p>

<p>
  As the technical co-founder, I started building Plyfe from scratch in September 2011. We built up a team of 10
  engineers at our peak. As the company evolved, I assumed user experience and product leadership roles.
</p>
