<p>
  <a href='http://plyfe.com/'>Plyfe</a> began life as a consumer-facing social rewards platform but morphed into a marketing platform that allowed
  brands to embed interactive experiences – personality quizzes, video polls, etc. – in their web properties. The
  self-service platform provided real-time data analysis and reporting of user activity.
</p>

<p>
  As the technical co-founder, I started building Plyfe from scratch in September 2011. We built up a team of 10
  engineers at our peak. As the company evolved, I assumed user experience and product leadership roles.
</p>
