<p>
  Skiff developed a slick 11.5 inch e-reader along with an accompanying content publishing system that delivered
  newspapers and magazines that took advantage of the devices' large display size. Our proprietary ePub rendering
  engine enabled us to design content that evoked the look and feel of each publication..
</p>

<p>
  I led a team of 20 engineers and designers in New York that built an analytical template engine that generated
  page layouts on the fly with no human design intervention. News data feeds (RSS, NewsML, etc.)
  came in each morning. Beautiful ePub newspapers went out the door a few minutes later.
</p>

<p>
  The Skiff e-reader garnered buzz at CES in January 2010 but sadly never saw the light of day.
  I purchased an iPad in April 2010. Skiff was acquired by News Corp in June 2010.
</p>
