<h4>Highlights</h4>

<ul>
  <li><span>Helped <a href='https://monegraph.com/'>Monegraph</a> launch their blockchain-backed media licensing platform web, mobile, and tv apps.</span></li>
  <li><span>Helped <a href='http://www.collectrium.com/'>Collectrium</a> launch an art auction search web app and revamp their front end architecture.</span></li>
  <li><span>Presented <a href='https://youtu.be/Z1lL_Zo62h0'>Living Style Guide Driven Development</a> talk at <a href='http://emberconf.com/'>EmberConf 2016</a>.</span></li>
</ul>
