<h2>Miscellaneously, I...</h2>

<ul>
  <li><span>am an Eagle Scout</span></li>
  <li><span>rode a private elevator with a pope</span></li>
  <li><span>have visited 46 of the 50 states</span></li>
  <li><span>swam a mile in Beijing</span></li>
</ul>
