<h2>Music</h2>

<p>
  I grew up playing piano and have a jazz performance degree. I play several other instruments and have worked as
  a freelance session musician with independent and major label recording artists.
</p>

<h4>Hugo</h4>
<div class="ResumeWorkItem">
  <div class="when">
    2010 - 2011
  </div>
</div>

<p>
  In 2010, Epic Records assembled a band for Roc Nation recording artist Hugo. I played keyboards and
  sang background vocals. We toured the US with bands like The Script and One Eskimo, playing in iconic venues
  throughout the country. We also performed in an Olympic arena in Beijing.
</p>

<h4>Highlights</h4>

<ul>
  <li><span>Late Night With David Letterman</span></li>
  <li><span>Jimmy Kimmel Live</span></li>
  <li><span>Performances with Tony Award winner Lena Hall - The Villa Satori</span></li>
  <li><span>X Factor / US Season 1 - Piano for Male Semifinalists</span></li>
  <li><span>MTV Asia / Hennessy Art Of Mixing</span></li>
</ul>
