<h1>Introduction</h1>

<p>
  My name is Chris LoPresto. I am a software engineer, musician, and leader.
  I work with talented engineers and designers to build things that make sense to humans. Stories follow.
</p>
