<div class="ResumeHeader">
  <div class="ResumeHeader-name">
    <a href="/">
      <span class="ResumeHeader-firstName">Chris</span> <span class="ResumeHeader-lastName">LoPresto</span>
    </a>
  </div>
  <div class="ResumeHeader-callout">
    As of <%= Time.zone.now.strftime('%Y.%m.%d') %>
  </div>
</div>
