<ul class="ResumeContactInfo">
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a target="_blank" href="https://twitter.com/chrislopresto"><i class="fab fa-twitter-square"></i> @chrislopresto</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a target="_blank" href="https://github.com/chrislopresto"><i class="fab fa-github-square"></i> chrislopresto</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a target="_blank" href="https://www.linkedin.com/in/chrislopresto/"><i class="fab fa-linkedin"></i> chrislopresto</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a href="#"><i class="fas fa-phone-square"></i> +1-732-470-7796</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a href="mailto:chris@chrislopresto.com"><i class="fas fa-envelope-square"></i> chris@chrislopresto.com</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--address"><br>55 W 74th St, Apt 1C<br>New York, NY 10023</li>
</ul>
