<h1>Islands of Richness</h1>

<div class="DemoContainer DemoContainer--rails">
  <h2>Rails Side</h2>

  <ul>
    <li>Source: <a href="https://github.com/chrislopresto/bateman-rails">https://github.com/chrislopresto/bateman-rails</a></li>
    <li>This is a standard Rails template with dedicated placeholder divs.</li>
    <li>Each placeholder is styled and labeled like this to make it easier to see what's going on.</li>
    <li>The Rails controller retrieves an Ember app manifest from redis and writes appropriate meta, link, and script tags.</li>
  </ul>

  <div class="RailsIsland" id="placeholder-1"></div>

  <div class="RailsIsland" id="placeholder-2"></div>
</div>
