$rutgers: #b20002;
$salesianum: #021b4b;

.ResumeEducationItem {
  margin: 20px 0;

  &-item {
    display: flex;
    padding-top: 10px;
  }

  &-logo {
    flex-basis: 16%;

    img {
      width: 90%;
    }
  }

  &-where {
    flex-grow: 1;
    padding-left: 10px;
  }

  &-when {
    flex-basis: 16%;
    margin-top: 0;
  }

  p {
    margin: 0;
    padding-bottom: 4px;
  }

  &-name--rutgers {
    .Resume &  {
      color: $rutgers;
    }
  }

  &-name--salesianum {
    .Resume & {
      color: $salesianum;
    }
  }
}
