.ResumeHeader {
  background: $md-teal-400;
  min-height: 160px;
  position: relative;

  @media print {
    background: $md-teal-400 !important;
  }

  &-name {
    bottom: 40px;
    font-size: 60px;
    left: $resume-padding;
    position: absolute;

    @media (max-width: $width-mobile-landscape) {
      font-size: 40px;
      left: $resume-padding - 20;
    }
  }

  &-firstName {
    color: $md-grey-50;

    @media print {
      color: $md-grey-50 !important;
    }
  }

  &-lastName {
    color: $md-grey-900;

    @media print {
      color: $md-grey-900 !important;
    }
  }

  &-callout {
    bottom: 10px;
    color: $md-grey-900;
    font-family: 'Codystar', sans-serif;
    font-size: 12px;
    position: absolute;
    right: $resume-padding;
    text-transform: uppercase;
  }
}
