/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$color-primary: #03a9f4 !default;
$color-primary-dark: #0288d1 !default;
$color-accent: #ffd740 !default;

@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Codystar';

$preferred_font: 'Raleway', 'Helvetica', 'Arial', sans-serif !default;

.page-content {
  padding: 0 16px;
}

body {
    font-family: $preferred_font;
}

@import "components/resume";
@import "components/resume_page_break";
@import "components/resume_header";
@import "components/resume_contact_info";
@import "components/resume_work_item";
@import "components/resume_education_item";

@import "font-awesome-sprockets";
@import "font-awesome";

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter {
        background: inherit !important;
        color: inherit !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
        box-shadow: inherit !important;
    }

    a,
    a:visited {
        text-decoration: inherit;
    }

    a[href]:after {
        content: "";
    }

    abbr[title]:after {
        content: "";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: inherit;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
