.ResumeContactInfo {
  @apply .border-md-teal-400 .border;
  border-radius: 2px;
  float: right;
  font-size: .8rem;
  margin: 0 0 20px 20px;
  line-height: 1.3rem;

  @nest .Resume & {
    padding: 15px 10px;

    @media (max-width: 500px) {
      float: left;
      margin: 0 0 20px;
    }
  }

  & .fa {
    padding-right: 3px;
  }

  & li {
    display: block;
  }

  & li:before {
    content: '';
  }

}

.ResumeContactInfo-item--social {
  font-size: .8rem;
}
